<section id="section-video-reviews" class="video-review">
    <div class="heading">
        <h2 class="heading__title">Video Reviews</h2>
        <p class="heading__byline">Select a video below to watch</p>
    </div>

    <div class="container">
        <div class="video-review__wrapper">
            <a data-target="#video-review-modal--one" class="video-review__item" href="#" data-toggle="modal" >
                <img src="assets/video-review/migrain-relief-piccolo.jpg" alt="video review preview image">
            </a>
            <a data-target="#video-review-modal--two" class="video-review__item" href="#" data-toggle="modal" >
                <img src="assets/video-review/testimonial-sue-piccolo.jpg" alt="video review preview image">
            </a>
            <a data-target="#video-review-modal--three" class="video-review__item" href="#" data-toggle="modal" >
                <img src="assets/video-review/testimonial-lori-piccolo.jpg" alt="video review preview image">
            </a>
        </div>
    </div>

</section>