<section id="section-services">
    <div class="heading">
        <div class="container">
            <h2 class="heading__title">Our Services</h2>
            <p class="heading__byline">By actively preventing disease and decay through regular home care, professional dental cleanings and regular exams, we’ll partner with you to maintain your healthy, beautiful smile. Prevention is always better than treatment, so if it’s been a while since you’ve seen a dentist, please give us a call or <a href="#" data-toggle="modal" data-target="#requestAppointmentForm">click&nbsp;to&nbsp;request&nbsp;an&nbsp;appointment</a>.</p>
        </div>
    </div>

    {% include 'molecules/services__pyramid-grid.twig' %}

</section>