<section id="section-services">
    <div class="heading">
        <div class="container">
            <h2 class="heading__title">Comprehensive Dental Care</h2>
            <p class="heading__byline">Select an item below to learn more</p>
        </div>
    </div>

    <div class="container">
        {% include 'molecules/services__pyramid-grid.twig' %}
    </div>

    {% include 'molecules/services__modals.twig' %}

</section>