<section id="section-tour" class="tour-carousel">

    <div class="heading center">
        <h2 class="heading__title">Office Tour</h2>
        <p class="heading__copy">Come visit our office today, conveniently located just West of the Pima Freeway, on
            East&nbsp;Bell&nbsp;Road&nbsp;in&nbsp;Scottsdale</p>

    </div>

    <div class="container">

        <div class="owl-carousel js-tour-carousel" >

            <img src="/assets/tour/01.jpg" alt="Waiting Room">
            <img src="/assets/tour/02.jpg" alt="Front of the office">
            <img src="/assets/tour/03.jpg" alt="Our beautiful cactus">
            <img src="/assets/tour/04.jpg" alt="Comfortable waiting room chairs">
            <img src="/assets/tour/05.jpg" alt="Great art in the office">
            <img src="/assets/tour/06.jpg" alt="Clean well-lit office hallway">
            <img src="/assets/tour/07.jpg" alt="Clean well-lit office hallway">
            <img src="/assets/tour/08.jpg" alt="Great office art">
            <img src="/assets/tour/09.jpg" alt="A wonderful view while you wait">
            <img src="/assets/tour/10.jpg" alt="A great view of the nearby golf course">

        </div>

    </div>

</section>