.services__pyramid-grid {
  //override bootstrap grid gutters
  .col-sm-6, .col-md-3 {
    //padding-left: 0;
    //padding-right: 0;
    position: relative;
    &:not(.service-card--double) {
      @media screen and (max-width: $width-sm) {
        width: 50%;
        float: left;
      }
    }
  }

  img {
    width: 100%;
  }

  .service-card {
    max-height: 448px;
    display: block;
    text-align: center;
    &__image-link {
      width: 100%;
      display: block;
      @media (min-width: 992px) {
        img { height: 205px; }
      }
      @media (min-width: 1200px) {
        img { height: 255px; }
      }
    }

    &__title {
      display: block;
      color: #000000;
      margin-bottom: 5px;
      padding-top: 15px;
      @include font-size(23px, 18px, 21px, 20px, 19px);
    }
    &__learn-more {
      display: block;
      color: #000000;
      line-height: 1;
      text-decoration: underline;
      @include font-size(18px,
              14px,
              17px,
              15px,
              14px);
    }
    &__copy {
      padding-bottom: 30px;
    }
    &--cosmetic {
      @media (max-width: 992px) {
        clear: both;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .service-card:hover {
      .service-card__image-link {
        @include hover-plus();
      }
      .service-card__title {
        color: #000000;
        text-decoration: underline;
      }
    }
  }
}