<div class="associations-carousel">
    {#<div class="container">#}
        <div class="associations-carousel--wrapper">
            <div class="owl-carousel js-associations-carousel">
                <div class="logo--wrapper"><img src="assets/associations/fagd.png" alt="fello Academy of general dentistry"></div>
                <div class="logo--wrapper"><img src="assets/associations/ficoi.png" alt="International congress of oral implantologists"></div>
                <div class="logo--wrapper"><img src="assets/associations/ada.png" alt="American Dental Association"></div>
                <div class="logo--wrapper"><img src="assets/associations/aacd.png" alt="American Academy of Cosmetic Dentistry"></div>
                <div class="logo--wrapper"><img src="assets/associations/academy-craniofacial.png" alt="TMD and Dental Sleep Community"></div>
                <div class="logo--wrapper"><img src="assets/associations/aes.png" alt="American Equilibration Society"></div>
                <div class="logo--wrapper"><img src="assets/associations/arizona-dental-assoc.png" alt="Arizona Dental Association"></div>
            </div>
        </div>
    {#</div>#}
</div>
