#section-insurance {

  $c-no-insurance: #000000;
  $c-sub-header: #ffffff;
  $c-preventative: #000000;
  $c-copy: #000000;
  $c-mobile-bg: white;

  padding-top: 50px;
  background-image: url('/assets/no-insurance_bkgd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  @media (max-width: $width-sm - 1) {
    background-color: $c-mobile-bg;
    background-image: none;
    .row>div {
      text-align: center;
    }
  }

  .title {
    font-family: $ff-sanchez;
    text-transform: uppercase;
    font-weight: 400;
    @include font-size(50px, 44px, 40px, 38px, 32px);
    @media (width: 768px) {
      font-size: 40px;
    }
    margin-bottom: 0;
    line-height: 1.1;
    color: $c-no-insurance;
  }
  .sub-title {
    background-color: #008CBA;
    @include font-size(24px,
                       22px,
                       20px,
                       22px,
                       22px);
    font-weight: 900;
    color: $c-sub-header;
    margin-bottom: 0;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 3px;
  }
  .care-text {
    font-family: $ff-sanchez;
    font-weight: 400;
    line-height: 1;
    padding-top: 30px;
    color: $c-preventative;
    @include font-size(27px, 25px, 22px, 27px, 20px);
  }
  .list-item {
    list-style: none;
    p {
      color: $c-copy;
      list-style: none;
      @include font-size(21px, 19px, 14px, 19px, 14px);
      font-size: 21px;
      margin-bottom: 0;
      line-height: 1.2;
    }
  }
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    @include lr-padding(80px, 70px, 60px, 60px, 40px);
    margin-bottom: 100px;
  }

  //Fix for insurance background on mobile
  .mobile-insurance-fix {
    display: none;
    @media (max-width: $width-sm - 1) {
      margin-top: -100px;
      display: block;
    }
  }
}
